@import java.text.SimpleDateFormat
@import java.util.Date
@(data: List[RequestTranslate])

@main("Welcome to Play") {
    <form>
        <input type="text" name="word" id="translate-word">
        <button type="button" id="translate-button">Translate</button>
        <pre id="translate-result"></pre>
    </form>


    <table border="1">
        <tr>
            <th>Phrase</th>
            <th>Date</th>
            <th>Translations</th>
        </tr>
    @for(r <- data) {
        <tr>
            <th>@r.phrase</th>
            <td>@(new SimpleDateFormat("yyyy-MM-dd HH:mm:ss").format(new Date(r.date)))</td>
            <td>
                <ul>
                @for(t <- r.translates) {
                    <li>
                        <i>@t.value</i>
                        <small>Votes: <b>@t.votes</b></small>
                    </li>
                }
                </ul>
            </td>
        </tr>

    }
    </table>
}
